/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    background-color:#51473d;
    margin-top:10px;
    margin:auto;
    width:600px;
    overflow:auto;
}

#topbar
{
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    background-position:center bottom;
    height:220px;
    width:600px;
    
    color:#eae7d2;
    font-family:verdana;
    font-size:7pt;
    font-style:italic;
    text-align:right;
}



#menu
{
    height:30px;
    width:600px;
}

#menu ul
{
    list-style-type:none;
}

#menu a
{
    display:none;
}

#menu li a
{
    display:block;
    float:left;
    
    margin:0 1px 0 1px;
    padding:10px 20px 10px 20px;
    background-color:#797066;
    
    font-family:verdana;
    font-size:10pt;
    color:#eae7d2;
    text-decoration:none;
}
#menu li a:first-letter
{
    text-transform:uppercase;
}
#menu .active a
{
    background-color:#eae7d2;
    color:#786e64;
}

#menu a:hover
{
    background-color:#9c9084;
}

#maincontent
{
    background-color:#eae7d2;
    float:left;
    width:340px;
    height:340px;
    padding:10px;
}

#maincontent h1
{
    color:#786e64;
    font-family:"times new roman";
    font-size:24pt;
    font-weight:normal;
}

#maincontent p
{
    color:#786e64;
    font-family:verdana;
    font-size:10pt;
    line-height:150%;
}

#maincontent img
{
    float:left;
    margin:0 5px 5px 0;
}

#subcontent
{
    background-color:#eae7d2;
    float:right;
    width:219px;
    height:340px;
    padding:10px;
    border-left:1px dashed #786e64;
}

#subcontent p
{
    color:#786e64;
    font-family:verdana;
    font-size:7pt;
    line-height:240%;
}
#subcontent h1
{
    color:#51473d;
    font-family:"times new roman";
    font-size:13pt;
    font-weight:normal;
}

#subcontent h2
{
    color:#51473d;
    font-family:"times new roman";
    font-size:11pt;
    font-weight:normal;
}

#subcontent ul
{
    list-style-type:none;
    padding-left:0;
}

#subcontent a:link
{
    color:#51473d;
    font-family:verdana;
    font-size:10pt;
}
#subcontent a:visited
{
    color:#51473d;
    font-family:verdana;
    font-size:10pt;
}

#bottomcontent
{
    background-color:#eae7d2;
    float:left;
    width:590px;
    height: 30px;
    padding-left:10px;
    padding-top:5px;
    
    color:#786e64;
    font-family:"verdana";
    font-style:italic;
    font-size:7pt;
    
}






    