/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    background-color:#51473d;
    margin-top:10px;
    margin:auto;
    width:600px;
    overflow:auto;
}

#topbar
{
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    background-position:center bottom;
    height:215px;
    width:600px;
    
    color:#eae7d2;
    font-family:verdana;
    font-size:7pt;
    font-style:italic;
    text-align:right;
}



#menu
{
    height:40px;
    width:600px;
}

#menu ul
{
    list-style-type:none;
}

#menu a
{
    display:none;
}

#menu li a
{
    display:block;
    float:left;
}

#maincontent
{
    background-color:#eae7d2;
    float:left;
    width:360px;
    height:365px;
}
#maincontent img
{
    float:left;
}

#subcontent
{
    background-color:#eae7d2;
    float:right;
    width:240px;
    height:365px;
}

#bottomcontent
{
    background-color:#eae7d2;
    float:left;
    width:600px;
}





    